.root {
  width: calc(50% - 20px);

  @include breakpoint(tablet) {
    width: calc(50% - 10px);
  }

  @include breakpoint(mobile-m) {
    width: 100%;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
}
