@import 'reset';
@import 'fonts';

body {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;

  font-family: $ff-main;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  @include scrollbar;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
