// Media-queries breakpoints
$breakpoints: (
  mobile: 360,
  mobile-m: 768,
  tablet: 1024,
  desktop-s: 1280,
  desktop-m: 1440,
  desktop-l: 1600,
);

@mixin breakpoint($point, $type: max) {
  $delta: 0;

  @if $type==max {
    $delta: 0.1;
  }

  @if type-of($point) ==number {
    @media (#{$type}-width: ($point - $delta + px)) {
      @content;
    }
  } @else {
    $breakpoint: map-get($breakpoints, #{$point});
    $breakpointValue: $breakpoint - $delta + px;

    @media (#{$type}-width: $breakpointValue) {
      @content;
    }
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var($gray);
    border-radius: 4px;
    opacity: 0.1;
  }
}

@mixin wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  @include breakpoint(desktop-s) {
    padding: 0 32px;
  }

  @include breakpoint(mobile-m) {
    padding: 0 16px;
  }
}

@mixin title {
  font-size: 56px;
  font-weight: 480;
  line-height: 64px;

  @include breakpoint(desktop-s) {
    font-size: 40px;
    line-height: 48px;
  }

  @include breakpoint(mobile-m) {
    font-size: 32px;
    line-height: 40px;
  }
}
